@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 60)]
@using CrowdSort.Clients.Rest
@using CrowdSort.Contracts.Greeter
@inject GreeterClient greetingClient
@page "/greeter"
@rendermode InteractiveServer

<PageTitle>Greeter</PageTitle>
<h1>Greeter</h1>
<p>Greeter test page</p>
@if (greetReply == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @greetReply.Message
    <br />
    <button class="btn btn-primary" @onclick="NextGreetingAsync">NextGreetingAsync</button>
}

@code
{
    private GreetReply? greetReply;
    protected override async Task OnInitializedAsync()
    {
        greetReply = await greetingClient.GetGreetingAsync();
    }

    string[] names = new string[] { "Alpha", "Bravo", "Charlie" };
    byte currentIndex = 0;
    private async Task NextGreetingAsync()
    {
        greetReply = await greetingClient.GetGreetingAsync(names[currentIndex++ % 3]);
    }
}