@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 60)]
@using CrowdSort.ApiClient
@using CrowdSort.Services
@inject RestClient CrowdSortRestClient
@page "/hello"
@rendermode InteractiveServer

<PageTitle>Hello</PageTitle>
<h1>Hello</h1>
<p>Greeter test page</p>
@if (helloReply == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @helloReply.Message
    <br />
    <button class="btn btn-primary" @onclick="NextGreetingAsync">NextGreetingAsync</button>
}

@code
{
    private HelloReply? helloReply;
    protected override async Task OnInitializedAsync()
    {
        helloReply = await CrowdSortRestClient.GetGreeterAsync();
    }

    string[] names = new string[] { "Alpha", "Bravo", "Charlie" };
    byte currentIndex = 0;
    private async Task NextGreetingAsync()
    {
        helloReply = await CrowdSortRestClient.GetGreeterAsync(names[currentIndex++ % 3]);
    }
}