@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 60)]
@page "/sorts"
@using CrowdSort.Clients.Rest
@using SorterContracts
@inject SorterClient sorterClient
@rendermode InteractiveServer

<PageTitle>Sorts</PageTitle>
<h1>Sorts</h1>
<p>Sorts main page</p>
@if (sortsGetReply == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>SortName</th>
            </tr>
        </thead>
        <tbody>
        @for (int i=0; i<sortsGetReply.Sorts.Count; i++ )
        {
            <tr>
                <td><a href="/sorts/@sortsGetReply.Sorts[i].Id">@sortsGetReply.Sorts[i].Name</a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private SortsGetReply? sortsGetReply;
    protected override async Task OnInitializedAsync()
    {
        sortsGetReply = await sorterClient.GetSortsAsync();
    }
}